.carousel-item img {
    height: 512px;
    width: 100%;
}

.icerik {
    text-align: justify;
    width: 90%;
    margin: 50px auto;
}

.icerik .baslik {
    text-align: center;
    margin: 20px;
}

.icerik .metin {
    margin: 30px;
}