* {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 13pt;
}

body {
    background-color: rgb(212, 212, 212);
}

.header {
    text-align: center;
    padding: 30px;
    border: 2px solid;
    background-image: url("https://turkishairlines.ssl.cdn.sdlmedia.com/637080128182797816QO.jpg");
    width: 100%;
}

.h-header {
    color: white;
    font-size: 40px;
}

.navbar-custom {
    border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
    -moz-border-radius: 0% !important;
    -ms-border-radius: 0% !important;
    -o-border-radius: 0% !important;
}

.content {
    background-color: white;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 65px #ffffff inset, 0 0 3px #beae8c inset, 0 0 10px #816f47;
}

.fakeimage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-custom {
    padding-bottom: 15px;
}

.footer {
    width: 100%;
    display: flex;
    background-color: #343a40!important;
    padding: 5px;
}

.ortala {
    text-align: center;
}

.footer-content {
    padding: 20px;
    text-align: left;
    color: #6b6b6b;
    font-size: medium;
}

.footer-content a {
    color: #6b6b6b;
    text-decoration: none;
    font-size: medium;
}

.footer-content a:hover {
    color: #8a8a8a;
}

.copyright {
    padding: 15px;
    margin: 15px;
    color: rgb(187, 187, 187);
}

.media {
    padding: 10px;
}